.hide{
    display: none;
}
.grey_box{
    background-color: #80808042;
    border-radius: 4px;
    padding: 1em;
    font-size:.8em;
    margin-top: 1em;
    margin-bottom: 1em;

}

.references{
    font-size: .7em;
    color: darkslategray;
}

/*.btn {
    background-color: orange;
    border: solid 1px orange;
}*/

.lead{
    color: orange;
}

.sitetitle{
    font-family: Arial !important;
    
}

.article-post{
    font-family: arial;
}